html {
    height: 100%;
  }
  
  html, body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    $normal: black;
    $hover: red;
    $hover-text: white;
    $clicked: blue;
    $transition: 0.2s all ease-in-out;
    border: 2px solid $normal;
    border-radius: 6px;
    text-decoration: none;
    transition: $transition;
    overflow: hidden;
    
    .container {
      position: relative;
      height: 40px;
      width: 120px;
      
      .normal, .hover, .copied {
        display: block;
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: $transition;
      }
  
      .normal {
        opacity: 1;
        color: $normal;
        top: 0%;
      }
  
      .hover, .copied {
        opacity: 0;
        top: 100%;
        color: $hover-text;
      }
    }
    
    &.hover {
      border-color: $hover;
      background: $hover;
      
      .container {
        .normal {
          top: -100%;
          opacity: 0;
        }
        
        .hover {
          top: 0%;
          opacity: 1;
        }
      }
    }
    
    &.copied {
      background: $clicked;
      border-color: $clicked;
      
      .container {
        .normal, .hover {
          top: -100%;
        }
        
        .copied {
          top: 0%;
          opacity: 1;
          color: white;
        }
      }
    }
  }